{{ define "footer" }}
<tr>
    <td style="padding: 40px 0 40px 0;">
    <table align="center" border="0" cellspacing="0" cellpadding="0" role="presentation" style="margin: 0;width: 100%;">
        <tr>
        <td style="padding: 40px 0 6px 0;text-align: center;font-family: 'Rubik', Arial, Helvetica, sans-serif;">
            <h2 style="margin: 0;font-style: normal;font-weight: 500;line-height: 150%;color: #2F302E;font-size: 24px;">Желаем успешного обучения!</h2>
        </td>
        </tr>
        <tr>
        <td style="text-align: center;padding: 0 0 40px 0;font-family: 'Rubik', Arial, Helvetica, sans-serif;">
            <p style="margin: 0;;font-style: normal;font-weight: 400;line-height: 150%;color: #2F302E;font-size: 16px;">Команда сервиса QuickOn</p>
        </td>
        </tr>
    </table>
    </td>
</tr>
<tr>
    <td>
    <table align="center" border="0" cellspacing="0" cellpadding="0" role="presentation">
        <tr>
        <td style="text-align: center;font-family: 'Rubik', Arial, Helvetica, sans-serif;">
            <p style="margin: 0;;font-style: normal;font-weight: 400;line-height: 150%;color: #2F302E;font-size: 16px;">© 2024 QuickOn team</p>
        </td>
        </tr>
    </table>
    </td>
</tr>
{{end}}