{{template "base" .}}

{{define "main"}}
<tr>
    <td>
        <h1 style="color:#2F302E;margin: 0;padding: 20px 0 16px 0;text-align: center;font-size: 24px;font-style: normal;font-weight: 600;line-height: 130%;">Добрый день, {{.Name}}!</h1>
    </td>
</tr>

<tr>
    <td>
        <p style="color: #2F302E;margin: 0;font-size: 16px;font-style: normal;font-weight: 400;line-height: 150%;width: 476px;padding: 0 0 0 40px;">Ваш пароль для платформы QuickOn был сброшен. </p>
    </td>
</tr>
<tr>
    <td style="padding: 0 0 20px 0;">
        <p style="color: #2F302E;margin: 0;font-size: 16px;font-style: normal;font-weight: 400;line-height: 150%;width: 476px;padding: 0 0 0 40px;">Ваш новый пароль: {{.Password}}</p>
    </td>
</tr>
<tr>
    <td style="padding: 12px 0 32px 0;">
        <table align="center" border="0" cellspacing="0" cellpadding="0" role="presentation">
            <tr>
                <td style="text-align: center;background-color: #53772F;border-radius: 12px;">
                    <!--- TODO Добавить ссылку --->
                    <a href="{{.LinkLogin}}" target="_blank" style="background-color: #53772F;text-align: center;text-decoration: none;color: #ffffff;font-size: 16px;font-style: normal;font-weight: 400;line-height: 150%;padding: 15px 15px 15px 15px;border-radius: 12px;">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Войти в профиль&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </a>
                </td>
            </tr>
        </table>
    </td>
</tr>

<tr>
    <td style="max-width: 516px;">
    <div style="height: 1px;width: 516px;background-color: #D1D3CE;"></div>
    </td>
</tr>
{{end}}